@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_Layout";
}
<form method="post" class="ui form" action="@Url.Action("Account")">
    <div class="field">
        <label>username</label>
        <input type="text" name="username" placeholder="First Name">
    </div>
    <div class="field">
        <label>password</label>
        <input type="password" name="password" placeholder="Last Name">
    </div>
    <div class="field">
        <label>claims</label>
        <input type="text" name="claims" placeholder="user claims">
    </div>
    <button class="ui button" type="submit">Submit</button>
</form>
<table class="ui celled table">
    <thead>
        <tr>
            <th>Username</th>
            <th>Email</th>
            <th>Claims</th>
        </tr>
    </thead>
    <tbody>

    </tbody>
</table>