aside {
    float: left;
    padding-right: 20px;
}

aside .calendar table {    
}

aside .calendar table caption {
    padding: 10px 0px 0px 0px;
}

aside .calendar  table thead th {
    padding: 10px;
    margin-left: 0px;
    margin-right: 0px;
    margin: 0px;    
}

aside .calendar  table tbody tr {
    color: #070e12;
    font-size: 14px;
    font-weight: bold;
}

aside  .calendar table tbody td {    
    padding: 10px;
    margin-left: 0px;
    margin-right: 0px;
    margin: 0px;    
    text-align: center;
}

.calendar tr.selected-week {
    color: #070e12;
}

.calendar .selected-date {
    background: #f0d9e8;
    border-radius: 100px;
}

.calendar table { 
    border-spacing: 0;
    border-collapse: collapse;
}

aside .calendar  table caption {
    color: #070e12;
    padding-bottom: 10px;
    font-weight: bold;
    font-size: 1.2em;
}

aside  .calendar table thead tr th {
    color: #070e12;
}

table {
    border-collapse: collapse;
  }
  
  .details-view table tr {
      border: 0px;
  }
  
  .details-view table th {
    padding: 5px 60px;
    border-bottom: 1px solid #000;
  }
  
  .details-view  table tr td {
    padding: 5px 40px;
    border-right: 1px solid #000;
    border-bottom: 1px solid #000;
  }
  
  .details-view  table tr td:first-child {
    border-bottom: none;
  }
  
  .details-view  table tr td:last-child {
     border-right: none;
  }
  
  table td, table th {border-spacing: 0px;border-collapse: collapse;}