@{
}
@model lifebook.app.apploader.services.Models.App

Add new apps

<form enctype="multipart/form-data" asp-route="/app/register" method="post" class="ui form">
    <!-- Input and Submit elements -->
    <input asp-for="Id" hidden/>
    <div class="field">
        <label>App icon (MAX: 128x128px)</label>
        <input type="file" name="Icon" accept="image/*">
    </div>
    <div class="field">
        <label>App name</label>
        <input asp-for="Name" />
    </div>
    <div class="field">
        <label>Service Name</label>
        <input asp-for="ServiceName" />
    </div>
    <button class="ui green button" type="submit">Register</button>
</form>
